@import 'nib'

body
  margin 0
  min-height 100vmin
  overflow-x hidden
  background-color #f9f9f9
  font 16px/1.7 "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei","SimSun",sans-serif
  padding-bottom 60px

::-webkit-scrollbar
  display none

h1,h2,h3,h4,h5
  margin 0

.wrap
  border 1px solid #1abc9c
  border-bottom none

.animes
  .anime
    padding 0 10px
    background-color #f2faf8
    border-bottom 1px solid #e7f0ee
    .anime-header
      padding-top 5px
      h2
        font-size 16px
        font-weight 400
    .anime-time
      padding-bottom 5px
      color #999
      font-size 14px

.footer
  text-align center
  position relative
  height 40px
  line-height @height
  background-color #1abc9c
  position fixed
  bottom 0
  left 0
  right 0
  color white
  .clickable
    cursor pointer
    &:hover,&.current
      background-color #16a085
  .anime-showday
    position absolute
    width 140px
    left 50%
    transform translateX(-50%) translateY(-50%)
    top 50%
    z-index 9900
  .anime-weekdays
    display flex
    background-color @background-color
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 9999
    .anime-weekday
      width 22%

@media screen and (min-width: 768px)
  .wrap
    max-width 800px
    margin 20px auto
    border-bottom 1px solid #1abc9c
